@font-face {
    font-family: "Outfit";
    src: url("./assets/font/OutfitVariableFont_wght1.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
    background: #fffbf6;
    color: #493129;
}
